<footer class="site-footer">

  <div class="wrapper">
    <h2 class="pull-left footer-heading">{{ site.title | escape }}</h2>
    <div class="pull-right rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></div>
  </div>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.github_username %}
              <a href="https://github.com/{{ site.github_username }}">@{{ site.github_username | escape }}</a>
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p class="pull-right">{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
