---
---

$brand-color: #d07922;
$background-color: #222426; /* a dark, off-black for the bg */
$text-color: #e6e6e6; /* an off-white for the text */
$grey-color-light: #565656; /* for the border-top separators */
$grey-color-dark: #adadad; /* such as the site title in the header, visited */

@import "{{ site.theme }}";

/* establishes a 9-column grid for category pages */
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;

  .content-element {
    grid-column: span 1;
    text-align: center;
  }
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.center {
  text-align: center;
  display: block;
  * {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
}